[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
mongomock = "*"
flask_login = "*"
langchain = "*"
langchain-community = "*"
openai = "*"
google-search-results = "*"
requests = "*"
bs4 = "*"
numexpr = "*"
langchain_openai = "*"
pytest = "*"

[dev-packages]
pytest = "*"
[requires]
python_version = "3.11"
