<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Friend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="profile-container">
        <nav>
            <a href="{{url_for('display_home', username = username)}}">
                <button class="btn">Back</button> </a>
        </nav>
        <section class="row">
            <h2>Add a friend!</h2>
            <form method="post" class="row-container">
                    <input style="margin-top: 20px;" type='text' name='friend' placeholder='Username' class='form-control'>
                    <button type='submit'>Add</button>
                {%if error%}
                 <span class="err">Username is currently not registered!</span>
                {%endif%}

                {%if exist%}
                 <span class="err">Already added as a friend!</span>
                {%endif%}

                {%if success%}
                 <span class="success">New friend added!</span>
                {%endif%}
            </form>
        </section>
    </div>


</body>

</html>
