<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="top-nav">
        <div class="left-corner">
            <span> StatMates </span>
        
        </div>

        <div class="right-corner">

            <span> Hi, @ {{username}} </span>
            <form action="{{ url_for('display_profile', username = username)}}" method="POST">
                <button type="submit" class="profile-btn">Profile</button>
            </form>

            <a href="{{url_for('display_login')}}" class="logout-btn">Logout</a>

            
        </div>
        
        </div>
    {% block content %} {% endblock %}
</body>
</html>
