<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parlay Preacher - Login</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="header-container">
        <h2 class= "title">Parlay Preacher</h2>
        <form action="/" method="POST">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <div class="btn-container">
                <button type="submit" name="action" value="signin">Sign In</button>
            </div>
        </form>
        <div class="btn-container">
            <button onclick="location.href='/register'">Sign Up</button>
        </div>
        {% if error %}
            <p style="color:red; text-align: center;">Wrong username or password!</p>
    {% endif %}
    </div>
    
</body>
</html>
