{% extends 'base.html' %}

{% block content %}
    <div class="profile-container">
        <header>
            <h2>Welcome, {{ name }}</h2>
        </header>
        <nav>
            <a href="{{url_for('display_home', username = username)}}">
                <button class="sport-btn">Back</button> </a>
        </nav>
        
       
        <section class="Queries">
            <h2>Previous User queries:</h2>
            {% if no_queries %}
                <p>No queries yet!</p>
                {% endif %}
                <ul>
                    {% for query in queries %}
                        <li>
                            <strong>Sport:</strong> {{ query[0] }}<br>
                            <strong>Query:</strong> {{ query[1] }}<br>
                            <strong>Result:</strong> {{ query[2] }}
                        </li>
                    {% endfor %}
                </ul>
            
        </section>
            <section class="Friends">
                <h3>Current friends:</h3>
                {% if no_friends %} 
                    <p>No friends yet!</p>
                {% endif %}
                <ul>
                    {% for friend in friends %}
                        <li><a href="{{url_for('display_friend', username = friend, original_user = username)}}" class="btn"> View 
                            {{ friend }}
                        </a></li>
                    {% endfor %}
                </ul>
            
                
    
                <a class="btn" href="{{url_for('display_addfriends', username = username)}}"> Add a friend</a>
            </section>
    </div>
{% endblock %}
