{% extends 'base.html' %}

{% block content %}
<div class="query-container">
    <h1>Ask your Question</h1>
    <p>User: {{ username }}</p>
    <p>Sport: {{ sport }}
    </p>
    {% if sport == "nfl" %}
        <p>Enter your nfl query below:</p>
    {% elif sport == "nba" %}
        <p>Enter your nba query below:</p>
    {% elif sport == "mlb" %}
        <p>Enter your mlb query below:</p>
    {% elif sport == "nhl" %}
        <p>Enter your nhl query below:</p>
    {% elif sport == "pga" %}
        <p>Enter your pga query below:</p>
    {% elif sport == "fc" %}
        <p>Enter your premier league query below:</p>
    {% else %}
        <p>Invalid sport.</p>
    {% endif %}

    <form action="{{url_for('query', username = username)}}" method="POST">
        <input type="hidden" name="sport" value="{{ sport }}">
        <input type="text" name="query" required>
        <button type="submit" class="small-grey">submit</button>
    </form>
    


    {% if result %}
        <p>{{ result }}</p>
        {% if result != "Sorry, I dont't understand your question." %}
            <form action="{{url_for('save_to_profile', username=username)}}" method="POST">
                <input type="hidden" name="sport" value="{{ sport }}">
                <input type="hidden" name="query" value="{{ query }}">
                <input type="hidden" name="result" value="{{ result }}">
                <button type="submit" class="small-grey">Save to Profile</button>
            </form>
        {% endif %}
    {% endif %}

    

    <a href="{{url_for('display_home', username = username)}}">
        <button class="small-grey">Back</button>
    </a>
</div>
{% endblock %}