<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="top-nav">
        <div class="left-corner">
            <span> Parlay Preacher </span>
        
        </div>

        <div class="right-corner">

            <span> Hi, @ {{username}} </span>
            <form action="{{ url_for('display_profile', username = username)}}" method="POST">
                <button type="submit" class="profile-btn">Profile</button>
            </form>

            <a href="{{url_for('display_login')}}" class="logout-btn">Logout</a>

            
        </div>
        
        </div>
    <h2>@{{ username }}</h2>
    <h3>Select a league to query for stats!</h3>
    <form action="{{ url_for('display_query', username = username, sport = sport)}}">
        <div class="middle-btn-container">
          <button type="submit" name="sport" value="nfl" class="sport-btn">NFL</button>
          <button type="submit" name="sport" value="nba" class="sport-btn">NBA</button>
          <button type="submit" name="sport" value="nhl" class="sport-btn">NHL</button>
          <button type="submit" name="sport" value="mlb" class="sport-btn">MLB</button>
          <button type="submit" name="sport" value="pga" class="sport-btn">PGA</button>
          <button type="submit" name="sport" value="fc" class="sport-btn">Premier League</button>
        </div>
      </form>
   
</body>
</html>
